# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Python
venv/
__pycache__/
*.pyc

# Sensitive files
*.pem
*.key
.env

# OS
.DS_Store
Thumbs.db

# Reports
*.sarif

# IDEs
.vscode/
.idea/
